<div class="row">
	<div class="col-md-2">
				<p>Twit: <a href="http://twitter.com/hikermeals" target="_blank">@hikermeals</a></p>
				<p>Insta: <a href="http://www.instagram.com/hikermeals" target="_blank">@hikermeals</a></p>
		
	</div>
	<div class="col-md-8">
		<h1>High Five!</h1>
		<div class="panel panel-default">

			<div class="panel-body center" id="refer">
				<h3>Invite your friends and get even more!</h3>
				<h2>Share your unique link via email, Facebook or Twitter and earn discounts on Hiker Meals.</h2>
				<div class="share-wrap">
					<div class="copy-link">
						<%= root_url %>?ref=<%= @signup.referral_code %>
					</div>

					<% twitter_message = "It's like having mountain men pack your #trailfood for you.  Check out @hikermeals!" %>
				    <div class="social-links">

				    
				        <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@signup.referral_code) %>&text=<%= CGI::escape(twitter_message) %>" class="twit" target="_blank"><%= image_tag("twit.png") %></a>
				      
				    </div>
				</div>


			</div>
		</div>
	</div>
	<div class="col-md-2">
	</div>
</div>

<% 
	referrals_count = @signup.referrals.count 
	if referrals_count >= 4
		panel_value="success"
	else
		panel_value="info"
	end

%>

<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-8">
		<div class="panel panel-<%= panel_value %>" >
			<div class="panel-heading">
				<h3 class="panel-title center">Your referrals</h3>
			</div>
			<div class="panel-body">
				
				<h3 class="center">Referrals:  <%= referrals_count %></h3>
				<ul>
					<li>Refer 5 friends and get 25% off your first purchase!</li>
					<li>Refer 10 friends and get 50% off your first purchase!</li>
					<li>Refer 15 friends and get 75% off your first purchase</li>
					<li>Refer 500 and Daniel will personally buy you dinner at a place of your choosing.</li>
					<li>If you are an early adopter and already have that discount, all of these referral discounts can apply to any other purchase you make on Hiker Meals!  Discounts on discounts!</li>
				</ul>
				<br />
			</div>
			<div class="panel-footer">
				<small><%= link_to 'Legal Stuff', legal_path %></small>
			</div>
		</div>
	
	</div>
	<div class="col-md-2">
	</div>
</div>

<%= render 'layouts/analytics' %>
				