<div class="row">
	<div class="col-md-7">
		<div class="jumbotron center">
			<h1>Don't hike hungry.</h1>
			<h3>Always pack the same food when you're hiking? Let us create cheap, delicious, nutritious, and fun meals for you with no hassle! </h3>
		</div>
	</div>
	<div class="col-md-5">
		<div class="jumbotron">
				<h2 class="left-align">We're launching soon.  Enter your e-mail address to get special access.</h2>

				<%= render 'signups/form' %>

		</div>
	</div>
</div>
<hr />
<div class="row">
	<h1>How it Works</h1>
</div>


<div class="row">
	<div class="col-md-4 center">
		<div class="caption">
			<%= image_tag("spork.jpg", size: "243x75") %>
			<h3>Pick</h3>
			<p>Choose from our variety of meal packages that combine taste and nutrition with packability.  Just tell us how many days you'll spend on the trail and we'll take care of the rest.</p>
		</div>
	</div>
	<div class="col-md-4 left-border center">
		<div class="caption">
			<%= image_tag("truck.png", size: "150x75") %>
			<h3>Ship</h3>
			<p>We will package your trip's meals in a lightweight reusable stuff sack.  Don't worry, the spork's included.  Then we'll ship it to your doorstep before your next adventure.</p>
		</div>
	</div>
	<div class="col-md-4 left-border center">
		<div class="caption">
			<%= image_tag("hikers.gif", size: "75") %>
			<h3>Hike</h3>
			<p>Take your meals and go - we remove the stress of planning meals, forgetting items, having too much food, or packing too heavy.</p>
		</div>
	</div>
</div>
<div class="row">
</div>

<%= render 'layouts/footer' %>
<%= render 'layouts/analytics' %>

