<!DOCTYPE html>
<html>
<head>
  <title>Hiker Meals</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="Wlm0u3IH3_RhXCt0EvRJCveuHcAu3vZEVf0ih1E8QfQ" />
</head>
<body>
	<%= render 'layouts/header' %>

	<% if notice %>
	  <p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p class="alert alert-danger"><%= alert %></p>
	<% end %>

	<div class="container-fluid">
		<%= yield %>
	</div>

</body>
</html>
